*.DS_Store
*.zip
weights/*
results/*.csv
logs/*/measures*
logs/*/.txt
*.pyc
.python-version
venv
exp_*
runs
*.pth
docs
dataset/images
dataset/cifar-100-python
dataset/pickle_files/train
dataset/pickle_files/test
wandb
